:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
  }

  img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    width: 400px;
    height: 300px;
  }

  .hl {
    color: var(--base);
  }



  
  body {
    text-align: center;
    background: #845EC2;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }